<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Robot Directory</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">


</head>

<body id="topofpage">
    <main class="container">
        <header>
            <h1>Robot Directory</h1>

        </header>

        <section class="grid">
            {{#data}}
            <a class="profile-link" href="/users/{{_id}}">
                <div class="grid-item">
                    <img src="{{avatar}}" alt="picture of robot">
                    <h2>{{name}}</h2>
                    {{#job}}
                    <p>{{job}}, {{company}}</p>
                    {{/job}} {{^job}}
                    <p class="avail">Available for hire</p>
                    {{/job}}
                </div>
            </a>
            {{/data}}
            <span class="home top"><a class="fa fa-angle-up fa-2x" href="#topofpage"></a></span>
        </section>
    </main>
    <script src="https://use.fontawesome.com/27763c6ae2.js"></script>
</body>

</html>