<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Directory</title>
    <link rel="stylesheet" href="/css/main.css">
    
</head>

<body>
    <main class="container">
        <section>
            {{#user}}
            <div>
                <img src="{{avatar}}" alt="picture of robot" height="150px" width="220px">
                <h2>{{name}}</h2>
                {{#job}}
                <p>{{job}}, {{company}}</p>
                {{/job}}

                {{^job}}
                <p class="avail">Available for hire</p>
                {{/job}}
            </div>
            {{/user}}

        </section>
    </main>
</body>

</html>