<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <main class="home-container">
    <header>
        <nav>
            <h1>Directory</h1>
            <a href="/directory">Home</a>
            <a class="selected" href="/users/profile">Profile</a>
            <a href="/logout">Logout</a>
            <a href="/users/profile-edit">Edit Profile</a>
            
        </nav>
    </header>
        <section class="flex-container">
            {{#user}}
            <div class="user">
                <section class="profile-content">
                    <div class="info">
                        {{#avatar}}<img class="profile-img" src="{{avatar}}" height="150px" width="220px">{{/avatar}}
                        <h1>{{name}}</h1>
                        {{#job}} {{#address.city}}
                        <span>{{address.city}}, {{address.country}} | </span><span>{{job}}, {{company}}</span><br>
                        <span>{{email}} | {{phone}}</span> {{/address.city}} {{^address.city}}
                        <span>{{address.country}} | {{job}}, {{company}}</span><br>
                        <span>{{email}} | {{phone}}</span> {{/address.city}} {{/job}} {{^job}}
                        <span>{{address.city}}, {{address.country}} | </span> <span class="avail">Available for hire</span><br>
                        <span>{{email}} | {{phone}}</span> {{/job}}
                    </div>
                    <section class="university">
                        {{#university}}
                        <span class="title">Education</span><span>{{university}}</span> {{/university}}
                    </section>
                    <section class="skills">
                        <span class="title">Skills</span>
                        <p class="skills-list">{{#skills}}{{.}}<br>{{/skills}}</p>
                    </section>
                </section>
            </div>
            {{/user}}

        </section>
    </main>
    <script src="https://use.fontawesome.com/27763c6ae2.js"></script>
</body>

</html>