<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <a class="selected" href="/signup">Sign Up</a>
                <a href="/login">Login</a>
            </nav>
        </header>
        <h1>Sign Up Below!</h1>
        <form action="/signup" method="post" class="signup-form">

            <label for="name">Name <input type="text" name="name" placeholder="Name"></label>
            <br>
            <label for="email">Email <input type="email" name="email" placeholder="Email"></label>
            <br>
            <label for="username">Username <input type="text" name="username" placeholder="User Name"></label>
            <br>
            <label for="password">Password <input type="password" name="password" placeholder="Password"></label>
            <br>
            <button type="submit">Submit</button>

        </form>
    </div>
</body>

</html>