body {
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: lightslategray;
    background-color: #6087FF;
    font-size: 2em;
}

header>h1 {
    font-family: 'Saira', sans-serif;
    font-weight: lighter;
}

i {
    margin: 1em;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
    color: #4F5051;
}

.grid-item {
    background-color: white;
    border: solid 1px lightgrey;
    padding: 0px 1em 1em 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 17.5vw;
    height: 40vh;
}

.grid-item h2 {
    font-size: 1.3em;
    color: #6087FF;
}

.grid-item p {
    margin: 0;
    font-size: .8em;
}

.grid-item img {
    align-self: center;
    margin: 0 auto;
    height: 23vh;
    width: 15vw;
}

.profile-link {
    margin: 0 auto;
    flex: 1;
    text-decoration: none;
    color: #4F5051;
    margin: 1em;
    flex-basis: 5em;
}

.avail {
    color: red;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    font-size: .9em;
    color: #4F5051;
    height: 40vh;
}

.profile-img {
    border: 1px solid darkgrey;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 1em;
    float: left;
    transition: .5s ease;
}

.profile-img:hover {
    transform: scale(1.1) translateX(-10%);
}

.profile-content {
    width: 60vw;
    height: 40vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-content h1 {
    font-size: 2.5em;
    margin: .2em 0 0 0;
    padding: .5em;
    font-weight: lighter;
    color: black;
}

.title {
    font-weight: bold;
    margin: 2em;
    color: black;
}

.university {
    margin: .1em 1.5em;
    align-self: flex-start;
}

.skills {
    margin: 0em 3.7em;
    align-self: flex-start;
    width: 40vw;
}

p.skills-list {
    position: relative;
    top: -35px;
    right: -95px;
}

.home {
    font-family: Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    display: flex;
}

.home a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: .5em .9em;
    background: #6087FF;
    border: none;
    color: white;
    transition: .4s;
}

.home a:hover {
    background-color: #4C6ED3;
    transform: scale(1.1);
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
}

.top a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .3em;
    width: .3em;
    padding: .5em;
    border-radius: 100%;
    border: 1px solid #6087FF;
}