body {
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 1em;
    color: #4F5051;
}

.grid-item {
    background-color: white;
    border: solid 1px grey;
    /* flex: 1 1 auto; */
    /* height: 100%;
    width: 100%; */
    /* margin: 1em; */
    padding: 0px 1em 1em 1em;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    flex-direction: column;
    /* width: 200px; */
}

.grid-item h2 {
    margin: 0;
    color: #6087FF;
}

.grid-item p {
    margin: 0;
}

.grid-item img {
    margin: 0 auto;
}

a {
    margin: 0 auto;
    flex: 1;
    text-decoration: none;
    color: #4F5051;
    margin: 1em;
    flex-basis: 5em;
}

.avail {
    color: red;
}