* {
    list-style: none;
}

body {
    margin: 0 auto;
    font-family: 'Helvetica', sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    color: white;
    font-family: 'Helvetica', sans-serif;
    font-weight: lighter;
    text-decoration: none;
}

.signup-link {
    color: black;
}

.selected {
    color: darkslategray;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: lightslategray;
    background-color: #6087FF;
    font-size: 2em;
    box-shadow: 0 3px 3px -2px gray;
    padding: 0 1em;
    width: 98vw;
    height: 2.2em;
}

nav>h1 {
    /* font-family: 'Saira', sans-serif; */
    font-weight: lighter;
    margin: .5em 0;
    font-size: 1em;
}

a:hover {
    text-decoration: none;
}

i {
    margin: 1em;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    color: #4F5051;
    width: 90%;
    align-items: center;
}

.grid-item {
    background-color: white;
    border: solid 1px lightgrey;
    padding: 0px 1em 1em 1em;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 13.85em;
    height: 16em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 0 auto;
}

.grid-item:hover {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.25), 0 7px 7px rgba(0, 0, 0, 0.22);
}

.grid-item h2 {
    font-size: 1.4em;
    color: #6087FF;
}

.grid-item p {
    margin: 0;
    font-size: 1em;
}

.grid-item img {
    align-self: center;
    margin: 0 auto;
    height: 21em;
    width: 14em;
}

.profile-link {
    margin: 0 auto;
    text-decoration: none;
    color: #4F5051;
    margin: 1em;
    flex-basis: 5em;
}

.avail {
    color: red;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
    font-size: 1.2em;
    color: #4F5051;
    height: 18em;
}

.profile-img {
    border: 1px solid darkgrey;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    margin: 1em;
    float: left;
    transition: .5s ease;
}

.profile-img:hover {
    transform: scale(1.1) translateX(-10%);
}

.profile-content {
    width: 40em;
    height: 20em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    width: 40em;
}

.profile-content h1 {
    font-size: 2.5em;
    margin: .2em 0 0 0;
    padding: .5em;
    font-weight: lighter;
    color: black;
}

.title {
    font-weight: bold;
    margin: 1.4em;
    color: black;
}

.university {
    margin: .1em 1.5em;
    align-self: flex-start;
}

.skills {
    margin: 0em 3.7em;
    align-self: flex-start;
    width: 10em;
}

p.skills-list {
    position: relative;
    top: -25px;
    right: -90px;
}

.home {
    height: 2.5em;
    width: 100%;
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    font-size: 2em;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: flex-start;
}

.home a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
    padding: .5em .9em;
    background: #6087FF;
    border: none;
    color: white;
    font-weight: lighter;
}

.top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2.5em;
}

.top a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: .3em;
    width: .3em;
    padding: .5em .6em .6em .6em;
    margin: 0;
    border-radius: 100%;
    border: 1px solid #6087FF;
    transition: .3s ease;
}

.top a:hover {
    transform: scale(1.2);
}

.dropbtn {
    background-color: #6087FF;
    color: white;
    padding: 0;
    margin: .5em 0;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.dropdown {
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: lighter;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 4em;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: .5em;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #6087FF;
}

.edit-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
    flex-wrap: wrap;
}

.edit-form input {
    font-size: 1em;
}